/* purgecss start ignore */

@tailwind base;
@tailwind components;

/* purgecss end ignore */

.flat-button {
  @apply block px-6 py-2 text-gray-700 transition-colors duration-150 bg-white border border-gray-400 rounded;
}

.flat-button:hover {
  @apply text-black border-black;
}

.shadow-stereoscopic {
  @apply transition-shadow duration-150;

  box-shadow: 5px 5px  0 theme('colors.orange.400');
}

.stereoscopic-button {
  @apply block px-4 py-2 text-white transition-shadow duration-150 bg-black rounded;

  box-shadow: 5px 5px  0 theme('colors.orange.400');
}

.stereoscopic-button:hover,
.shadow-stereoscopic:hover {
  box-shadow: 3px 3px  0 theme('colors.orange.400');
}

@tailwind utilities;

html,
body {
  @apply bg-gray-100;
}
